@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
  font-family: "Roboto Condensed" sans-serif;
}

:root {
  --white: #fff;
  --specificRed: #f14709;
  --dark: rgb(43, 5, 5);
}
/*************************** NAVBAR *****************************************************/
.logo {
  width: 10rem;
}

/**********************NAV LINKS **********************************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0367rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--white) !important;
  border-top: 0.19rem solid var(--dark) !important;
}

.navbar-brand {
  width: 17.25rem;
  padding: 0 !important;;
}

.navbar-nav > li > a.active, .navbar-nav > li >a:focus {
  border-top: 0.19rem solid var(--specificRed) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.19rem solid var(--specificRed) !important;

}